# GUI
customtkinter

# Data manipulation and storage
pandas
openpyxl

# Excel/PowerPoint/Windows Automation (COM)
pywin32
python-pptx

# GUI Automation (Mouse/Keyboard control)
pywinauto
PyAutoGUI
PyGetWindow

# Text Processing
ftfy
unidecode
spacy
lxml

# System / Process Management
psutil
